.board-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin: 7px 0;
}

.board-card .board-img {
  height: 150px;
  width: 150px;
}

.board-card .board-img > img {
  height: 150px;
  object-fit: cover;
  width: 150px;
  border-radius: 10px;
}

.board-card .board-content {
  margin-top: 6px;
}

.board-card .board-content .category {
  color: #00000073;
  font-size: 12px;
  border-radius: 2px;
  width: fit-content;
  height: 14px;
  align-items: center;
  background-color: #feedb1;
}

.board-card .board-content .title {
  font-size: 17px;
}

.board-card .board-content .second-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.board-card .board-content .second-info .price {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  height: 18px;
}

.board-card .board-content .second-info .like {
  font-size: 11px;
  height: 18px;
  color: #ffca00;
  display: flex;
  align-items: center;
}

.board-card .board-content .second-info .like > img {
  height: 15px;
}

.board-card .board-content .second-info .like > div {
  height: 18px;
  display: flex;
  align-items: flex-end;
}
