.location-page {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  font-family: "GmarketSansMedium", sans-serif;
}

.location-page .location-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin: 0 15px;
}

.location-page .location-options button {
  font-family: "GmarketSansMedium", sans-serif;
  background-color: #ff879e;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  padding: 7px 17px;
}

.location-page .location-options .safe-location {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #ff879e;
}

.buyer-location {
  width: auto;
  margin: 0 15px;
  font-size: 16px;
  color: #ff879e;
}

.location-page .location-options .safe-location input {
  margin-left: 10px;
  transform: scale(1.5);
}

.location-page .map-container {
  height: 250px;
  background-color: #e9e9e9;
  margin: 10px 0;
}

.location-page .location-inputs {
  padding: 10px 15px;
}

.location-page .location-inputs .location-input {
  margin-bottom: 10px;
  color: #ff879e;
  font-size: 14px;
}

.location-page .location-inputs .location-input input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ff879e;
  border-radius: 4px;
  color: #ff879e;
}

.location-page .location-list {
  padding: 15px;
  background-color: #fff7f9;
  border-top: 2px solid #ff879e;
}

.location-page .location-items .location-item {
  padding: 10px 0;
  border-bottom: 1px solid #ffe4e9;
  color: #ff879e;
  font-size: 14px;
}

.location-scroll {
  max-height: 300px; /* 스크롤을 적용할 최대 높이 설정 */
  overflow-y: scroll; /* 세로 스크롤 추가 */
  padding: 10px; /* 내부 여백 */
}
