.search-page {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  font-family: "GmarketSansMedium", sans-serif;
}

.search-page .search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-page .search-bar input {
  margin: 0 15px;
  width: 100%;
  outline: none;
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 16px;
  border: 2px solid #ff8796;
  padding: 13px 15px 10px;
  border-radius: 15px;
}

.search-page .category-tab {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-page .category-tab .tab-item {
  font-size: 13px;
  padding: 8px 18px;
  border-radius: 15px;
  background-color: #fef391;
  color: rgb(207, 207, 207);
}

.search-page .category-tab .active {
  background-color: #ffca00;
  color: rgb(255, 255, 255);
}

.search-page .recent-search .recent-search-header {
  margin: 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #ff8796 1.5px solid;
  padding-bottom: 8px;
}

.search-page .recent-search .recent-search-header .search-header-title {
  color: #ff8796;
  font-size: 20px;
}

.search-page .recent-search .recent-search-header .clear-options {
  color: rgb(163, 163, 163);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.search-page .recent-search .recent-search-header .clear-options span {
  margin-right: 8px;
  font-size: 14px;
  letter-spacing: -1px;
}

.search-page .recent-search .recent-search-header .clear-options .auto-save-active {
  color: #ff8796;
}

.search-page .recent-search {
  margin: 0 15px;
}

.search-page .recent-search .recent-search-items-container {
  padding: 0 10px;
  margin-top: 30px;
  overflow-y: auto;
}

.search-page .recent-search .recent-search-items-container .recent-search-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: rgb(149, 149, 149);
  margin-bottom: 15px;
}

.search-page .recent-search .recent-search-items-container .recent-search-item .item-left {
  display: flex;
  flex-direction: row;
}

.search-page .recent-search .recent-search-items-container .recent-search-item .item-left img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.search-page .recent-search .recent-search-items-container .recent-search-item .item-left .search-term {
  padding-top: 3px;
}

.search-page .recent-search .recent-search-items-container .recent-search-item img {
  width: 15px;
  height: 15px;
}

.search-page .recent-search .no-recent-search {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}